/* App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Styling Alexia */

/* Footer Positioning */
#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* SignUp Form */
.signup-fields {
  padding: 10px;
}

#signup-form {
  margin-top: 60px;
}

#email-label {
  padding-right: 60px;
  font-size: 25px;
}

#password-label {
  padding-right: 25px;
  font-size: 25px;
}

.signup-form-label {
  padding-right: 10px;
  font-size: 25px;
}

#signup-button {
  padding: 7px 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}

#signup-button:hover {
  background-color: rgb(63, 62, 62);
  color: white;
  cursor: pointer;
  border-color: white;
}

#logo-img {
  border-radius: 50%;
  margin-top: 30px;
}

#login-here {
  font-weight: 500;
}

/* Login Form */
#password-login-form {
  margin-right: 10px;
}

#password-login-form {
  margin-left: 7px;
}

#hereLink:hover {
  cursor: pointer;
  color: rgb(54, 54, 248);
}

#hereLink {
  color: black;
}

/* Profile Page Alexia */
#logo-img-profile {
  max-width: 100px;
  border-radius: 50%;
  margin-top: 30px;
}

#profileimg {
  max-width: 200px;
  max-height: 200px;
  border: 5px solid white;
  margin-left: 50px;
  border-radius: 50%;
}

#profileimggallery {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  margin: 5px;
  border: 5px solid white;
}

#flexprofilebio {
  display: flex;
}

#profiletext {
  margin-left: 30px;
  color: white;
}

#profilegalleries {
  margin-top: 30px;
}

#footer {
  color: white;
}

#biotext {
  margin-right: 60px;
}

#albumtext {
  color: white;
  font-size: 40px;
}

/* NavBar Alexia */
#navflex {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.navbuttons {
  padding-left: 5px;
}

/* Search Page */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
  width: 300px;
  max-width: 100%;
  margin-right: 10px;
}

.search-button {
  background-color: #ccc;
  border: solid black 1px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #a4fc7b;
  color: black;
}

/* Feed Page */
.feedposts {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 20px !important;
}

#profileimggallery {
  padding: 0 !important;
}

#feedflex {
  display: flex;
  border: 3px solid white;
  padding: 10px;
  max-width: 500px;
  background-color: #ccc;
}

.feedblock {
  display: block;
}

#feed-container {
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
}

#feed-titles {
  margin-left: 20px;
}

#feed-title {
  margin-left: 22px;
}

#feed-comment-title {
  text-align: left;
}

#like-button {
  float: left;
  font-size: 20px;
}

/* Friend Profile */
#friendbuttonsflex {
  display: flex;
}

/* Friend Profile */
#friend-container {
  border: 3px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
}

.friendbuttons {
  margin: 10px;
}

#unfriendbutton {
  margin-right: 25px;
}

#requestpendingtext {
  margin-left: 10px;
}

/* Album View Page Alexia */
.albumviewposts {
  padding-bottom: 20px;
  padding-right: 5px;
}

#flexalbumview {
  display: flex;
  justify-content: center;
}

.albumviewimg {
  max-width: 200px;
  max-height: 200px;
  border: 5px solid white;
}

#albumtext {
  color: white;
}

#albumbuttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.albumbutton {
  margin-left: 10px;
}

/* Post Page Alexia */
.posttext {
  color: white;
}

#postform {
  margin-left: auto;
  margin-right: auto;
  border: solid 2px white;
  background-color: #ccc;
  max-width: 500px;
  min-height: 200px;
}

.postinput {
  margin: 10px;
}

#uploadimg {
  margin-right: 165px;
}

.posttext {
  margin-left: 20px;
}

#form-placement {
  margin-top: 40px;
}

/* Create Post Dropdown Menu Styling */

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu>li {
  margin: 0;

  background-color: white;
}

.menu>li:hover {
  background-color: lightgray;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* Common Styles */
.postCard {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.postContent {
  background: white;
  padding: 20px;
}

.postImg,
.postCaption {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.userComment {
  padding: 10px;
  border-radius: 50px;
  background-color: beige;
  text-align: left;
}

#userName {
  font-weight: 700;
}



/* Media Queries */
@media screen and (max-width: 375px) {
  /* Sign Up Form */
  .signup-fields,
  #signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signup-form {
    margin-top: 30px;
  }

  /* Profile Page */
  #logo-img-profile {
    margin-top: 20px;
  }

  #profileimg {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Added margin-right to move the image to the left */
  }

  
#profiletext {
  margin-left: 30px;
  color: white;
}

  /* Navigation Bar */
  #navflex {
    flex-wrap: wrap;
  }

  .navbuttons {
    padding: 5px;
  }

  /* Search Page */
  .search-container {
    flex-wrap: wrap;
  }

  .search-input {
    width: 200px;
  }

  .search-button {
    margin-top: 10px;
  }

  /* Feed Page */
  #feedflex {
    flex-direction: column;
    align-items: center;
  }

  /* Friend Profile */
  #friend-container {
    padding: 10px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Album View Page */
  .albumviewimg {
    max-width: 120px;
    max-height: 120px;
  }

  /* Post Page */
  .postCard {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #postform {
    width: 90%; /* Reduce the width to fit smaller screens */
  }

  .postinput {
    margin: 5px; /* Adjust the margin for smaller spacing */
  }

  #uploadimg {
    margin-right: 0; /* Remove the right margin on smaller screens */
  }

  .posttext {
    margin-left: 10px; /* Adjust the margin for smaller screens */
  }

  /* Sign Up Form */
  .signup-fields,
  #signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signup-form {
    margin-top: 30px;
  }

    /* Profile Page */
    #logo-img-profile {
      margin-top: 20px;
    }
  
    #profileimg {
      margin-left: 10px; /* Adjusted margin-left to create more space */
      max-width: 150px; /* Reduced max-width to fit smaller screens */
      max-height: 150px; /* Reduced max-height to fit smaller screens */
    }

    #profiletext {
      margin-left: 10px; /* Adjusted margin-left to create more space */
      max-width: 250px; /* Reduced max-width to prevent overflow */
      text-align: center;
    }
  
  /* Navigation Bar */
  .navbuttons {
    padding-left: 2px;
  }

  /* Search Page */
  .search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    width: 100%;
    margin-right: 0;
  }

  .search-button {
    margin-top: 10px;
    width: 100%;
  }

  /* Feed Page */
  #feedflex {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  /* Friend Profile */
  #friend-container {
    max-width: 300px;
    padding: 10px;
  }

  /* Album View Page */
  .albumviewimg {
    max-width: 150px;
    max-height: 150px;
  }

  /* Post Page */
  .postCard {
    width: 90%;
  }
}
